.dot{
    width:35px;
    height:35px;
    position:absolute;
    background: url(http://www.clipartqueen.com/image-files/red-lobed-fall-clipart-leaf.png);
    background-size: 100% 100%;
  }
  html, body, #page {width:100%; height:100%; }
  #logo{ left:50%; top:50%; position:absolute; border-radius:10px; }
  
  #DiacoDesignLink,#pens{
    color: #fff;
  }
  